//
// PRODUCT LIST

.product-list {
  background-color: #f4f4f4;

  .product-tile {
    background-color: white;
  }
}

.product-image-container {
  img {
    margin: auto;
    width: 140px;
    height: 140px;
  }
}
