@font-face {
  font-family: 'OpenSans-700';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/themes/technolit/fonts/open-sans-v17-latin-700.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-400';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/themes/technolit/fonts/open-sans-v17-latin-regular.woff2');
  font-display: swap;
}
